---
Language: Cpp
BasedOnStyle: Google
Standard: c++20

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^"(app|commands|core|ipc|manager|progress|storage|tasks)/'
    Priority: 2
  - Regex: '.*'
    Priority: 3
...
